.cadastro {
    background: linear-gradient(to bottom, #3b4863 40%, #1e2535 100%);
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .kelp-cadastro {
    font-family: 'Solitreo', cursive;
    font-size: 60px;
    margin-top: 40px;
    text-shadow: 0 0 10px white;
  }
  
  .fundo-cadastro {
    background-color: #1e2535;
    width: 390px;
    max-width: 390px;
    border-radius: 50px 0px 30px 30px;
    padding: 0px 25px;
    height: 512px;
    margin-top: auto;
    text-align: center;
    box-shadow: 0 -6px 15px rgba(0,0,0,0.4);
  }
  
  .titulo-cadastro {
    font-family: 'Solitreo', cursive;
    font-size: 35px;
    margin-bottom: 20px;
    
  }

  #cadastroo {
    font-family: 'Solitreo', sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px 4px white;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
}

  
  .campo-cadastro {
    background: white;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .campo-cadastro input { 
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;

  }

  .fazer-cadastro > div > button{
    color: white;
    background-color: #313e50;
    height: 42px;
    width: 259px;
    border-radius: 9px;
    border: none;
    box-shadow: 4px 2px 4px rgb(37, 37, 37);
  }
  