
#titulo {
    font-family: 'Solitreo', sans-serif;
    color: white;
    text-shadow: 1px 1px 4px white;
    font-size: 60px;
    margin-left: 33%;
}

.botoes {
    display: flex;
    flex-direction: column;
    margin-left: 17%;
}

.botoes > a, .botoes > a > div {
    width: 100%;
}

.botoes > a > div > button {
    color: white;
    background-color: #313e50;
    height: 42px;
    width: 259px;
    border-radius: 9px;
    border: none;
    box-shadow: 4px 2px 4px rgb(37, 37, 37);
}

.botoes > a > div > button:active {
    transform: scale(1.05);
}

.icone {
    display: flex;
    justify-content: center;
}

.fundo-inicio {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.voltar-icone {
    cursor: pointer;
}