.login {
  background: linear-gradient(to bottom, #3b4863 40%, #1e2535 100%);
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(197, 197, 197);
}

.kelp-login {
  font-family: 'Solitreo', cursive;
  font-size: 60px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  text-shadow: 0 0 10px white;
}

.fundo-login {
  background-color: #1e2535;
  height: 510px;
  width: 390px;
  max-width: 390px;
  border-radius: 50px 0px 30px 30px;
  padding: 40px 25px;
  margin-top: auto;
  text-align: center;
  box-shadow: 0 -6px 15px rgba(0,0,0,0.4);
}

.titulo-login {
  font-family: 'Solitreo', cursive;
  font-size: 35px;
  margin-bottom: 20px;
}

#loginn {
  font-family: 'Solitreo', sans-serif;
  font-size: 70px;
  color: white;
  text-shadow: 1px 1px 4px white;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
}


.login-label {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.campo-login {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 12px;
  margin-top: 5px;
}

.campo-login input {

  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.texto-login {
  margin-top: 128px;
}

.botoes-login > div > button {
  color: white;
  background-color: #313e50;
  height: 42px;
  width: 259px;
  border-radius: 9px;
  border: none;
  box-shadow: 4px 2px 4px rgb(37, 37, 37);
  margin-top: 50px;
}