.Concluido{
    text-align: center;
    align-items: center;
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.check{
    width: 230px;
    align-items: center;
}
.fundoC{
    background-color: #273243;
    display: flex;
    height: inherit;
}

#finalizado {
    background-color: #2133a9;
    color: white;
    width: 156px;
    height: 54px;
    border-radius: 10px;
    border: none;
    margin-top: 50px;
}