.fundo {
    height: 94.8%;
    width: inherit;
    position: absolute;
    background-color: #273243;
}

.container-texto {
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.container-texto > h3 {
    font-size: 24px;
}

.container-texto > span {
    font-size: 18px;
}

.formas-pagamento {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formas-pagamento > div > button {
    display: flex;
    background-color: #e3e2e2;
    color: black;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 20px;
    width: 328px;
    height: 64px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    gap: 20px;
}

.salvar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.salvar > div > button {
    background-color: blue;
    color: white;
    width: 156px;
    border-radius: 15px;
    height: 54px;
    border: none;
}

.salvar > div > button:hover {
    cursor: pointer;
}