.principal {
  display: flex;
  width: 392px;
  height: 852px;
  flex-direction: row;
  justify-self: center;
}

.fundo-app {
  background: linear-gradient(#707ab0, #12171e);
  height: inherit;
  width: inherit;
}

.login {
  color: rgb(255, 255, 255);
}

.evento{
  color: rgb(255, 255, 255);
}

.cadastro {
  color: rgb(255, 255, 255);
}

button {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  font-family: solitreo;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-nav {
  display: flex;
  width: 100px;
}

a > div  {
  width: 100px;
}

a > div > button {
  border-radius: 50px;
  width: inherit;
}

.EventosBox {
  background-color: #a2aabf;
  width: 321px;
  height: 109px;
}













